<h1>Pig Latinizer!</h1>

<form action="/piglatinize" method="POST">
  <p>
    <label for="user_phrase">Enter your phrase: </label>
    <textarea name="user_phrase"></textarea>
  </p>
  <input type="submit" name="submit">
</form>
